@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    display:flex;
    background:#ebe9e9;
}

/* SIDEBAR */
.sidebar{
    position:sticky;
    top:0;
    width:70px;
    height:100vh;
    background:rgba(113,99,186,0.9);
    padding:0 1.7rem;
    overflow:hidden;
    transition:0.5s;
    color:white;
}

.sidebar:hover{
    width:240px;
}

.menu{
    list-style:none;
    margin-top:20px;
}

.menu li{
    padding:1rem;
    border-radius:8px;
}

.menu li:hover,
.menu .active{
    background:rgba(255,255,255,0.2);
}

.menu a{
    color:white;
    text-decoration:none;
    display:flex;
    gap:15px;
    align-items:center;
}

/* MAIN */
.main--content{
    width:100%;
    padding:1rem;
}

/* HEADER */
.header--wrapper{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    padding:15px 2rem;
    border-radius:10px;
}

.user--info img{
    width:45px;
    height:45px;
    border-radius:50%;
}

/* CARDS */
.card--container{
    background:white;
    padding:2rem;
    margin-top:1rem;
    border-radius:10px;
}

.card--wrapper{
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
}

.competition--card{
    width:200px;
    padding:1rem;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
}

.amount--value{
    font-size:20px;
    font-weight:bold;
}

/* TABLE */
.table--container{
    margin-top:1rem;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:12px;
    border-bottom:1px solid #eee;
}

tbody tr:hover{
    background:#f9f9f9;
}

/* STATUS */
.status{
    padding:5px 10px;
    border-radius:12px;
    font-size:12px;
}

.approved{background:#e0e7ff;color:blue;}
.pending{background:#fff4cc;color:orange;}
.rejected{background:#ffe0e0;color:red;}

/* ICON */
.action-icon{
    margin-right:10px;
    cursor:pointer;
}