body{
    font-family: Arial;
    background:#f4f4f4;
}

.form-wrapper{
    width:700px;
    margin:40px auto;
    background:#fff;
    padding:25px;
    border-radius:10px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

input, select, textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:6px;
}

button{
    width:100%;
    padding:12px;
    background:#6c5ce7;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#5a4bd1;
}

.lock-box{
    background:#ffe0e0;
    color:red;
    padding:10px;
    margin-bottom:15px;
    border-radius:6px;
    font-weight:bold;
    text-align:center;
}